contourpy==1.3.1
cycler==0.12.1
fonttools==4.55.3
kiwisolver==1.4.8
matplotlib==3.10.0
-e git+ssh://git@github.com/NaumovOleg/torch.git@1eff705d40bcf968967eaa9c2b00c7cb9afacf2d#egg=ML
numpy==2.2.1
packaging==24.2
pillow==11.0.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
setuptools==75.6.0
six==1.17.0
-e git+ssh://git@github.com/NaumovOleg/torch.git@1eff705d40bcf968967eaa9c2b00c7cb9afacf2d#egg=torch
